# Development dependencies for pygixml
cython
scikit-build-core
stubgen-pyx; python_version >= '3.9'
# Packaging dependencies
build
twine
wheel
# Testing and documentation dependencies
pytest
pytest-cov
# Documentation dependencies
sphinx 
furo 
sphinx-autodoc-typehints